/* *{
    box-sizing: border-box;
} */

#header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-image: url("./images/pattern-bg.png");
}
header{
    height: 40%;
}

#mapid { height: 180px; }
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
th{
    border-right: 1px solid #ccc;
}
table{
    border:solid;
    z-index: 100;
}
h1{
    color:white;
}

