*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src:
        url('./fonts/Rubik-Regular.ttf') format('ttf'),
        url('./fonts/Rubik-Regular.woff') format('woff'),
        url('./fonts/Rubik-Regular.woff2') format('woff2');
  }
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src:
    url('./fonts/Rubik-Medium.ttf') format('ttf'),
    url('./fonts/Rubik-Medium.woff2') format('woff2'),
    url('./fonts/Rubik-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Rubik';
    font-size: normal;
    font-weight: 700;
    src:
    url('./fonts/Rubik-Bold.ttf') format('ttf'),
    url('./fonts/Rubik-Bold.woff2') format('woff2'),
    url('./fonts/Rubik-Bold.woff') format('woff');
} 
  html,
  body {
    font-family: 'Rubik', sans-serif;
    font-size:18px;
  }
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    
    height: 180px;
    background-image: url("./images/pattern-bg.png");
}
#mapid { 
    height: 500px;
    z-index: 2;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
.table {
    padding: 5px 0;
}
.table h2{
    color:hsl(0, 0%, 59%);
    font-size: 0.8em;
    text-align: center;
}
.table p{
    font-weight: 700;
}
.table{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    position:absolute;
    top:140px;
    left: 0;
    right: 0;
    width:70%; 
    height:100px; 
    margin:auto;
    border:white;
    z-index: 10;
}
h1{
    color:white;
    font-weight:500;
    text-align: center;
}
#myForm input[type='text']{
    border:none;
}
.vl{
    border-left:2px solid hsl(0, 0%, 72%);
    margin-top: 20px;
    height: 50px;
}
.search_wrapper{
    display:flex;
    justify-content: space-between;
    border-radius: 5px;
    overflow: hidden;
    background-color:white;
    position:relative;
    width:400px;
}
#ip{
    border-radius: 5px 0 0 5px;
    width:93%;
    height:35px;
}
button[type="submit"] {
    border-radius: 0 5px 5px 0;
    height:35px;
    background-color:hsl(0, 0%, 3%);
  }
button[type="submit"]:hover {
    background-color:hsl(0, 0%, 59%);
  }
@media screen and (max-width:640px){
    .table{
        flex-direction: column;
        top:150px;
        left: 0;
        right: 0;
        width:90%;
        height: 340px;
        text-align: center; 
    }
    #ip{
        border-radius: 5px 0 0 5px;
        width:70%;
        height:50px;
    }
    button[type="submit"] {
        height:50px;
        width:4em;
      }
    div.table > &:first-child{
        padding-top: 4px;
    }
    div.table > &:last-child{
        padding-bottom: 4px;
    }
    .header{
        height: 300px;
    }
    .vl{
        display:none;
    }
}
