*{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: normal;
    src:
      url('./fonts/Rubik-Regular.ttf') format('ttf');
  }
   
  html,
  body {
    font-family: 'Rubik', sans-serif;
    font-size:18px;
  }
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-image: url("./images/pattern-bg.png");
}
header{
    height: 180px;
}

#mapid { 
    height: 500px;
    z-index: 2;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
th{
    border-right: 1px solid #ccc;
}
table{
    background-color: white;
    border-radius: 10px;
    position:absolute;
    top:140px;
    left: 0;
    right: 0;
    width:70%; 
    height:100px; 
    margin:auto;
    border:white;
    z-index: 10;
}
h1{
    color:white;
}
#myForm input[type='text']{
    margin-right:-8px;
}

.search_wrapper{
    border-radius: 5px;
    overflow: hidden;
    background-color:white;
    position:relative;
}
#ip{
    border-radius: 5px 0 0 5px;
    width:220px;
    height:30px;
}
button[type="submit"] {
    border-radius: 0 5px 5px 0;
    height:30px;
    background-color:hsl(0, 0%, 17%);
  }
button[type="submit"]:hover {
    border-radius: 0 5px 5px 0;
    height:30px;
    background-color:hsl(0, 0%, 59%);
  }


